{{ define "header" }}
  {{ partials.Include "site-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  {{ $contextualMenu := partials.Include "menu-contextual.html" . }}
  {{ $hasContextualMenu := gt (len (strings.TrimSpace $contextualMenu)) 0 }}
  <article class="journal-article">
    <header class="journal-article__hero">
      <div class="journal-shell journal-article__hero-inner">
        {{ with .CurrentSection.Title }}
          <p class="journal-kicker">{{ . }}</p>
        {{ end }}
        <h1>{{ .Title }}</h1>
        {{ with .Params.description }}
          <p class="journal-article__description">{{ . }}</p>
        {{ end }}
        <div class="journal-article__meta">
          {{ with .Params.author | compare.Default .Site.Params.author }}
            <span>
              {{- if reflect.IsSlice . -}}
                {{ collections.Delimit . ", " | transform.Markdownify }}
              {{- else -}}
                {{ . | transform.Markdownify }}
              {{- end -}}
            </span>
          {{ end }}
          {{ if not .Date.IsZero }}
            <time {{ fmt.Printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safe.HTMLAttr }}>
              {{ .Date | time.Format (compare.Default "January 2, 2006" .Site.Params.date_format) }}
            </time>
          {{ end }}
          {{ if (or (compare.Eq (.Param "show_reading_time") true) (compare.Eq $section.Params.show_reading_time true) )}}
            {{ $readingTime := .ReadingTime }}
            {{ with .Site.Params.reading_speed }}
              {{ $readingTime = div (float $.WordCount) . }}
              {{ $readingTime = math.Ceil $readingTime }}
              {{ $readingTime = int $readingTime }}
            {{ end }}
            <span>{{ lang.Translate "readingTime" $readingTime }}</span>
            <span>{{ lang.Translate "wordCount" .WordCount }}</span>
          {{ end }}
        </div>
      </div>
    </header>

    <div class="journal-shell journal-article__layout{{ if $hasContextualMenu }} journal-article__layout--with-aside{{ end }}">
      <div class="journal-article__body nested-links">
        {{- .Content -}}
        {{- partials.Include "tags.html" . -}}
        <div class="journal-article__comments">
          {{ if .Site.Config.Services.Disqus.Shortname }}
            {{ template "_internal/disqus.html" . }}
          {{ end }}
          {{ if .Site.Params.commentoEnable }}
            {{- partials.Include "commento.html" . -}}
          {{ end }}
        </div>
      </div>

      {{ if $hasContextualMenu }}
        <aside class="journal-article__aside">
          {{- $contextualMenu -}}
        </aside>
      {{ end }}
    </div>
  </article>
{{ end }}
