<footer class="journal-footer" role="contentinfo">
  <div class="journal-shell journal-footer__inner">
    <div>
      <a class="journal-footer__brand" href="{{ .Site.Home.Permalink }}">{{ .Site.Title }}</a>
      <p class="journal-footer__copy">&copy; {{ now.Format "2006" }} {{ with .Site.Copyright | compare.Default .Site.Title }}{{ . | safe.HTML }}{{ end }}.</p>
    </div>
    <div class="journal-footer__links">
      {{ if .Site.Menus.main }}
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
</footer>
